.sub-icon_container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  margin-bottom: -5rem;
}

.sub-icon_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub-icon-text {
  font-family: "new-astro-soft", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  margin-top: 1.5rem;
}

.iconContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 10rem;
}

.innerIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 2rem;
}

.scrollText {
  width: 30%;
  transform: rotate(90deg);
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-image {
  position: relative;
  height: 350px;
  width: 350px;
  border-radius: 62% 38% 70% 30% / 30% 63% 37% 70%;
  background-color: #5ec576;
  margin: 0 auto;
}

.about-image::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-65%, -50%);
  height: 330px;
  width: 330px;
  border-radius: 30% 70% 30% 70% / 66% 27% 73% 34%;
  background-color: #212121;
  margin: 0 3rem 0 3rem;
}

.about-text {
  width: 50%;
  line-height: 1.8;
  font-size: 1.4rem;
  color: #666;
}

.btn-contact_about {
  display: flex !important;
  margin: 0 auto !important;
  background-color: #212121 !important;
  color: #eee !important;
  margin-top: 3rem !important;
}

@media screen and (max-width: 1125px) {
  .innerIconContainer {
    display: none;
  }

  .scrollText {
    display: none;
  }

  .about-image {
    margin-bottom: 4rem;
  }

  .about-text {
    width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .iconContainer {
    flex-direction: column;
  }

  .innerIconContainer {
    display: none;
  }

  .about-content {
    flex-direction: column;
  }

  .scrollText {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sub-icon_container {
    flex-direction: column;
  }

  .sub-icon-text:not(last-child) {
    margin-bottom: 1rem;
  }

  .about-image {
    width: 300px;
    height: 300px;
  }

  .about-image::after {
    width: 280px;
    height: 280px;
    transform: translate(-68%, -50%);
  }
}

@media screen and (max-width: 480px) {
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
